<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selectedWorkoutIndices</key>
	<array>
		<string>jumping lunges</string>
		<string>dips</string>
		<string>Press Ups</string>
		<string>heavy bag combinations</string>
		<string>Push Ups</string>
		<string>jumping lunges</string>
		<string>box jumps</string>
	</array>
	<key>suggestedWorkoutNames</key>
	<array>
		<string>jumping lunges</string>
		<string>Push Ups</string>
		<string>heavy bag combinations</string>
		<string>box jumps</string>
		<string>dips</string>
		<string>Press Ups</string>
	</array>
</dict>
</plist>
